@import url("https://fonts.cdnfonts.com/css/junicode");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
    --black: #202020;
    --white: #fefefe;
    --semi-white: #f0f0f0;
    --yellow: #ffb22c;
    --yellowish: #CB9957;
}

* {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--black);

    overflow: hidden;
    overflow-x: hidden;
}

.snap-container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.hero,
.deck-wrapper {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
}

.hero h1 {
    font-family: "Junicode", sans-serif;
    font-weight: 600;
    font-size: 10rem;
    color: var(--white);
    
    margin-top: -12vh;

    text-align: center;
}

.hero span {
    color: #CB9957;
}

.hero p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--semi-white);

    margin-top: -150px;
    margin-bottom: 0;
}

.fate {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.references {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.references img {
    width: 80vw;
    align-items: center;
}

.references p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--semi-white);
    text-align: center;

    margin-top: -50px;
    margin-bottom: 90px;
}

.references span {
    color: var(--yellowish);
}

.card-deck {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    margin-top: -50px;
    margin-bottom: 100px;
}

.card {
    width: 180px;
    height: 294px;
    perspective: 1000px;
    display: inline-block;
    margin: 10px;
    margin-left: -100px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card.flipped {
    z-index: 10; /* bring it on top */
    transform: scale(1.3); /* optional: make it pop slightly */
}

.card:first-child {
    margin-left: 0;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 20px;
    border-radius: 5px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* unused, moved to JS by clicks

 .card:hover .card-inner {
    transform: rotateY(180deg);
} 
*/

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    transform: rotateY(180deg);
}
